:root {
  /* Colors */
  --gradient: linear-gradient(
    90deg,
    rgba(255, 71, 71, 1) 0%,
    rgba(246, 227, 35, 1) 100%
  );
  --black: #0b0b0b;
  --black-light: #1a1a1a;
  --gray: #c9c9c9;
  --primary: #f7c417;
  --gray-dark: #606060;
  --linear: linear-gradient(
    80.21deg,
    rgba(11, 11, 11, 1) 0%,
    rgba(26, 13, 12, 1) 54.93955612182617%,
    rgba(170, 35, 21, 1) 100%
  );

  /* Fonts */
  /* Effects */
}